html
  body
    header
      nav
        ul.left
          | LOGO
        ul.center
          li First
          li Second
          li Third
          li Fourth
        ul.right
          button Login
          button.primary Sign Up
        section#lead
          h1 A great words, especially if you don't give a fuck about them. But you do
          button#signup Sign up today
    main
      section
        h1 Hello !